:root {
  --circulo-1-cor: #09a5af;
  --cor-letras: #534f4f;
  --cor-background: #fafafa;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(./img/gabin-vallet-J154nEkpzlQ-unsplash.jpg);
  background-size: 1350px 700px;
  background-repeat: no-repeat;
  background-color: var(--circulo-1-cor);
}

.fundo-site {
  margin-top: -9rem;
  z-index: 1;
  position: absolute;
}
.circulo-1 {
  animation: surgir2 3s;
  margin-left: -250px;
  background-color: var(--circulo-1-cor);
  width: 35rem;
  height: 35rem;
  border-radius: 100%;
  opacity: 70%;
}

@keyframes surgir2 {
  0% {
    opacity: 20%;
    margin-left: 3rem;
  }
  100% {
    opacity: 70%;
  }
}

.circulo-2 {
  margin-left: 20px;
  background: var(--cor-letras);
  width: 29rem;
  height: 29rem;
  border-radius: 100%;
  position: relative;
  margin-top: -32rem;
  opacity: 98%;
}

.background {
  margin-top: 120px;
}

.cabecalho {
  width: 1340px;
  position: center;
  margin-left: auto;
  margin-top: 2rem;
}

.cabecalho .coluna-1 h1 {
  font-size: 2rem;
  color: white;
}

.coluna-1 {
  background: none;
  width: 100px;
  margin-left: 30%;
  display: flex;
  align-items: baseline;
  padding: 12px;
  align-items: center;
}

.titulos {
  border-bottom: 1px solid var(--cor-background);
  margin-left: 28.5%;
  display: flex;
  align-items: center;
  position: absolute;
}
.titulos h2 {
  color: var(--cor-background);
  margin-left: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.titulos h2:nth-child(4) {
  margin-left: 50px;
  color: var(--circulo-1-cor);
}

.texto-apresentacao-site {
  margin-top: 7rem;
  margin-left: 18em;
  position: absolute;
  z-index: 2;
}

.texto-apresentacao-site h2 {
  animation: surgir 1s;
  background-color: var(--cor-background);
  height: 4rem;
  padding: 0.7rem;
  font-size: 4rem;
  color: var(--cor-letras);
  border-radius: 5px;
}

@keyframes surgir {
  0% {
    margin-left: 3rem;
    opacity: 15%;
  }
  100% {
    opacity: 100%;
  }
}

.texto-apresentacao-site b {
  color: var(--circulo-1-cor);
}

.texto-apresentacao-site p {
  margin-left: 0.8rem;
  margin-top: -2.5rem;
  font-size: 1.3rem;
  color: var(--cor-background);
}

.exercicios {
  margin-top: 50rem;
  background: var(--cor-background);
  height: 17rem;
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
}

.exercicios-conteudo {
  display: flex;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.exercicios p {
  color: var(--circulo-1-cor);
  font-size: 2rem;
}

.exercicios p b {
  color: #078d95;
  font-size: 7rem;
}

.carrossel {
  margin-left: 60px;
  overflow: hidden;
  height: 400px;
  width: 400px;
}

.container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrossel img {
  object-fit: cover;
  height: 400px;
  width: 400px;
  border-radius: 25%;
}

.tabelas-de-consulta {
  max-width: 1344px;
  border: 3px solid var(--cor-background);
  height: 32.5rem;
  border-radius: 10px;
  margin: 5rem;
}
.tabelas-de-consulta .titulo {
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  color: white;
}
.tabelas {
  margin-left: 85px;
  margin-top: 3%;
  display: flex;
  align-items: baseline;
}

.tabela-1 {
  color: white;
  background-color: var(--cor-letras);
  height: 300px;
  width: 300px;
  border-radius: 20px;
  margin-left: 25px;
  text-align: center;
  cursor: pointer;
  border: 5px solid var(--circulo-1-cor);
}

.tabela-1:hover {
  background-color: #078d95;
  height: 340px;
  width: 300px;
  transform: translateY(-30px);
  box-shadow: 0px 1px 8px 0px black;
}

.tabela-1 figure img {
  height: 150px;
  width: 150px;
}
.tabela-1 h3 {
  color: white;
  height: 25px;
  background-color: var(--circulo-1-cor);
  padding: 3px;
}

.tabela-1 h3:hover {
  background-color: white;
  color: var(--cor-letras);
}

.tabela-1 p {
}

.tabela-2 {
  cursor: pointer;
  text-align: center;
  margin-left: 25px;
  background-color: var(--cor-letras);
  height: 300px;
  width: 300px;
  border-radius: 20px;
  color: white;
  border: 5px solid var(--circulo-1-cor);
}

.tabela-2:hover {
  background-color: #078d95;
  height: 340px;
  width: 300px;
  transform: translateY(-30px);
  box-shadow: 0px 1px 8px 0px black;
}

.tabela-2 figure img {
  height: 150px;
  width: 150px;
}
.tabela-2 h3 {
  color: white;
  height: 25px;
  background-color: var(--circulo-1-cor);
  padding: 3px;
}

.tabela-2 h3:hover {
  background-color: white;
  color: var(--cor-letras);
}

.tabela-2 p {
}
.tabela-3 {
  cursor: pointer;
  text-align: center;
  margin-left: 25px;
  background-color: var(--cor-letras);
  height: 300px;
  width: 300px;
  border-radius: 20px;
  color: var(--circulo-1-cor);
  border: 5px solid var(--circulo-1-cor);
}

.tabela-3:hover {
  color: var(--cor-letras);
  background-color: #078d95;
  height: 340px;
  width: 300px;
  transform: translateY(-30px);
  box-shadow: 0px 1px 8px 0px black;
}

.tabela-3 figure img {
  height: 150px;
  width: 150px;
}
.tabela-3 h3 {
  color: white;
  height: 25px;
  background-color: var(--circulo-1-cor);
  padding: 3px;
}

.tabela-3 h3:hover {
  background-color: white;
  color: var(--cor-letras);
}

.tabela-3 p {
  color: white;
}

footer {
  border-top: 2px solid #078d95;
  background-color: var(--cor-background);
  margin-bottom: -20px;
}
.footer-conteudo {
  margin: auto;
  width: 450px;
  display: flex;
  align-items: center;
}
.intuito-site {
  width: 120px;
}
.intuito-site h3 {
  color: #078d95;
  font-size: 1rem;
}
.logo-site {
}
.logo-site img {
  margin-left: 50px;
  width: 100px;
  height: 100px;
}
.universidade {
  margin-left: 50px;
}
.universidade h3 {
  color: #078d95;
}
